name: Release

on: [push]

permissions:
  id-token: write  # Required for npm OIDC
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip') && !contains(github.event.head_commit.message, 'skip ci')"
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.GH_ADMIN_TOKEN }}

      - name: Prepare repository
        # Fetch full git history and tags
        run: git fetch --unshallow --tags

      - uses: pnpm/action-setup@v4
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: 'pnpm'

      - name: Cache node modules
        uses: actions/cache@v5
        with:
          path: |
            node_modules
            */*/node_modules
          key: cache-pnpm-${{ runner.os }}-${{ hashFiles('pnpm-lock.yaml') }}

      - name: Create Release
        env:
          GH_TOKEN: ${{ secrets.GH_ADMIN_TOKEN }}
        run: |
          pnpm install --no-frozen-lockfile
          pnpm release
